<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="myConSt" connectionString="Data Source=MARK\SQLEXPRESS;Initial Catalog=MyMemberShip;Integrated Security=SSPI"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <membership userIsOnlineTimeWindow="15">
        <providers>
          <clear/>
          <add connectionStringName="myConSt" enablePasswordRetrieval="false"
               enablePasswordReset="true" requiresQuestionAndAnswer="false"
               requiresUniqueEmail="false" maxInvalidPasswordAttempts="5"
               minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0"
               passwordAttemptWindow="10" applicationName="WebConfigToolUse" passwordFormat="Hashed"
               name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" />
        </providers>
      </membership>
      <roleManager enabled="true">
        <providers>
          <clear/>
          <add connectionStringName="myConSt" applicationName="WebConfigToolUse"
               name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        </providers>
      </roleManager>
      <authentication mode="Forms" />
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
